<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template}">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/css/users.css" rel="stylesheet" th:href="@{/css/users.css}" type="text/css">
    <title>Sync - Projets</title>
    <link rel="icon" th:href="@{/img/favicon.png}">
</head>
<body>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<div layout:fragment="content">
    <section id="content">
            <div class="table-data">
                        <div class="row justify-content-center col-4" style="text-transform:uppercase">
                            <h3 style="font-weight: bold;">Projets</h3>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <nav class="navbar navbar-light bg-light" method="get">
                                    <form class="form-inline" th:action="@{listProjet}">
                                        <input aria-label="Search" class="form-control mr-sm-2" name="keyword"
                                               placeholder="Chercher un projet" style="font-weight: bold;" th:value="${keyword}" type="search">
                                        <button class="btn btn-success my-2 my-sm-0" style="font-weight: bold;" type="submit">
                                            Chercher
                                        </button>
                                    </form>
                                    <span class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                            <button class="btn btn-secondary btn-sm" data-target="#newprojets-modal" data-toggle="modal"
                                                    style="font-weight: bold;" th:action="@{CreateProjet}" type="button"><i
                                                    class="bi bi-plus-square"></i> Nouveau projet</button>
                                        </span>
                                </nav>
                                <!-- form d'ajout-->
                                <div aria-hidden="true" aria-labelledby="newtasks" class="modal fade" id="newprojets-modal" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#C0C0C0;">
                                                <p style="text-transform:uppercase"><h4 class="font-weight-bold" style="text-align:center;">
                                                Nouveau Projet</h4></p>
                                            </div>
                                            <div class="modal-body">
                                                <form class="forms-sample" method="post" th:action="@{CreateProjet}">
                                                    <div class="form-group">
                                                        <label for="nomprojet" style="font-weight: bold;">Nom de projet : </label> <input
                                                            class="form-control" id="nomprojet" placeholder="" required
                                                            style="font-weight: bold;" th:field="${projet.nomPrj}" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="descprojet" style="font-weight: bold;">Description du projet : </label>
                                                        <textarea class="form-control" cols="50" id="descprojet" placeholder=""
                                                                  required rows="4" style="font-weight: bold;"
                                                                  th:field="${projet.Description}"></textarea>
                                                    </div>
                                                    <!--ERROR-->
                                                    <div class="form-group">
                                                        <label for="datecreation" style="font-weight: bold;">Date de création : </label>
                                                        <input class="form-control" id="datecreation" placeholder="" required
                                                               style="font-weight: bold;" th:field="${projet.datecreation}" type="date">
                                                    </div>
                                                    <div class="modal-footer" style="font-weight: bold;">
                                                        <button class="btn btn-info" style="font-weight: bold;" type="submit">Enregistrer
                                                        </button>
                                                        <button class="btn btn-secondary" data-dismiss="modal" style="font-weight: bold;"
                                                                type="button">Annuler
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- fin form d'ajout-->
                                <table cellpadding="0" cellspacing="0" class="table table-striped" id="tbl-employes" width="20%">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="text-align:center;">Projet</th>
                                        <th style="text-align:center;">Date de création</th>
                                        <th style="text-align:center;">Plus détails</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr th:each="P :${projets}">
                                        <td style="text-align:center;" th:text="${P.nomPrj}"></td>
                                        <td style="text-align:center;" th:text="${#dates.format(P.getDatecreation() , 'dd MMM yyyy')}"></td>
                                        <td style="text-align:center;">
                                            <a class="btn btn-warning" data-toggle="modal"
                                               th:data-target="${'#viewdetail-modal' + P.Id_projet}" type="button"><i
                                                    class="bi bi-eye-fill"></i></a>
                                            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="btn btn-success" data-toggle="modal"
                                               th:data-target="${'#editprojet-modal' + P.Id_projet}" type="button"><i
                                                    class="bi bi-pencil"></i></a>
                                        </td>

                                        <!--more infos-->
                                        <div class="myForm">
                                            <div aria-hidden="true" aria-labelledby="myLargeModalLabel"
                                                 class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1" th:id="${'viewdetail-modal' + P.Id_projet}">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color:#D1D0CE;">
                                                            <h5 class="font-weight-bold"><p style="text-transform:uppercase">PLus
                                                                d'information concerne le projet : </P>
                                                                <p class="text-muted" style="text-align:center;" th:text="${P.nomPrj}"></p>
                                                            </h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p th:text="${P.Description}"></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-warning" data-dismiss="modal" style="font-weight: bold;">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--fin more infos-->
                                        <!--modification projet-->
                                        <div aria-hidden="true" aria-labelledby="newtasks" class="modal fade" th:id="${'editprojet-modal' + P.id_projet}" role="dialog"
                                             tabindex="-1">
                                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color:#C0C0C0;">
                                                        <p style="text-transform:uppercase"><h4 class="font-weight-bold" style="text-align:center;">
                                                        Modifier les informations du Projet</h4></p>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="forms-sample" method="post" th:action="@{'updateProjet/' + ${P.Id_projet}}">
                                                            <div class="form-group">
                                                                <label for="nomprojet" style="font-weight: bold;">Nom de projet  </label> <input
                                                                    class="form-control" id="nomprojet" name="nomPrj" required
                                                                    style="font-weight: bold;" th:value="${P.nomPrj}" type="text">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="descprojet" style="font-weight: bold;">Description du projet  </label>
                                                                <textarea class="form-control" cols="50" id="descprojet" name="Description"
                                                                          required rows="4" style="font-weight: bold;" th:value="${P.getDescription()}"
                                                                         th:text="${P.description}"></textarea>
                                                            </div>
                                                            <div class="modal-footer" style="font-weight: bold;">
                                                                <button class="btn btn-info" style="font-weight: bold;" type="submit">Enregistrer
                                                                </button>
                                                                <button class="btn btn-secondary" data-dismiss="modal" style="font-weight: bold;"
                                                                        type="button">Annuler
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--fin de modification projet-->
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="nav nav-pills">
                                    <li th:each="page,status:${pages}">
                                        <a th:class="${status.index==currentPage?'btn btn-info ml-1':'btn btn-outline-info ml-1'}"
                                           th:href="@{listProjet(page=${status.index}, keyword=${keyword})}"
                                           th:text="${status.index}"
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    </section>
</div>
</body>
</html>
